<div>
  <div class="head">Stock trend</div>
  <mat-sidenav-container class="playground">
    <mat-grid-list cols="12" rowHeight="100vh">
      <mat-grid-tile colspan="2">
        <div>List of stocks</div>
        <section class="stock-list">
          <ng-container *ngFor="let item of stocks;let i = index">
            <mat-checkbox class="stock-name" [(ngModel)]="item.isChecked">{{item.name}}</mat-checkbox>
          </ng-container>
        </section>

      </mat-grid-tile>
      <mat-grid-tile colspan="10">
        <ng-container *ngFor="let item of stocks;let i = index">
          <ng-container *ngIf="item.isChecked">
            <app-chart [name]="item.name"></app-chart>
          </ng-container>
        </ng-container>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-container>
</div>